body{
	width:100%;
	height:auto;
	overflow-x: hidden;
}
li{
	list-style-type: none;
}
.g-main{
	width: 375px;
	height:auto;
	margin:0 auto;
}
.header{
	background-color:#00C2AF;
	height:66.7px;
}
.header>.row{
	height:100%;
	display: flex;
}
.header-style{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:0px;
}
.header-left{
	color:white;
	font-size:1.3em;
}
.search-box{
	background-color:#00A595;
	display: flex;
	align-items: center;
	color:#00D9CC;
	width:100%;
	height:70%;
	border-radius: 10px;
	text-indent: 10px;
	font-size:1.2em;
}
.searchImg{
    transform: rotate(300deg);
    padding-right: 10px;
}
.user{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	padding: 0px;
	color:#E1FAF8;
	font-size:1.1em;
    margin: 0;
}
.userImg{
    color: white;
    padding-top: 10px;
    padding-left: 3px;
    margin: 0;
}
.top{
	height:200px;
	border-top:1px solid black;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.circle{
	width:25%;
	height:80px;
	display: flex;
	flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.circle>li{
	width:50px;
	height:50px;
	border-radius: 30px;
}
.circle:nth-child(1)>li{
	background-color: #FF8905;
}
.circle:nth-child(2)>li{
	background-color: #FF6640;
}
.circle:nth-child(3)>li{
	background-color: #7089F6;
}
.circle:nth-child(4)>li{
	background-color: #FF8905;
}
.circle:nth-child(5)>li{
	background-color: #00CDF0;
}
.circle:nth-child(6)>li{
	background-color: #FFBB53;
}
.circle:nth-child(7)>li{
	background-color: #00CDF0;
}
.circle:nth-child(8)>li{
	background-color: #FF8905;
}
.emply-box{
	width:100%;
	height:15px;
	background-color: #F1F0ED;
	border-bottom:2px solid #E4DED6;
	border-top:2px solid #E4DED6;
}
.center{
	width:100%;
	height:180px;
	line-height: 2.5em;
}
.center-left{
	margin-top:10px;
	border-right:2px solid #E4DED6;
}
.left-box{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.left-box>span:nth-child(1){
	color:#0DA805;
	font-weight: bold;
	font-size:1.3em;
}
.left-box>span:nth-child(2),.se-top-text>span:nth-child(2),.se-right>span:nth-child(2){
	color:#949494;
	font-size:1.1em;
}
.left-box>span:nth-child(3){
	width:90px;
	height:90px;
	background-color: #666666;
	border:2px solid #A9A9A9;
}
.center-center{
	margin:10px 0 0px 0;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around; 
}
.center-center>span:nth-child(1){
	color:#FF460C;
	font-weight: bold;
	font-size:1.3em;
}
.center-right-box{
	margin-top:10px;
	display: flex;
	justify-content: center;
}
.center-right-box>span{
	width:60px;
	height:60px;
	background-color: #666666;
	border:2px solid #A9A9A9;
}
.center-center-bottom{
	margin-top:10px;
    border-top: 2px solid #E4DED6;
}
.center-center-bottom>span:nth-child(1){
	color:#FF40A4;
	font-weight: bold;
	font-size:1.3em;
}
.center-center-bottom>span:nth-child(2){
	display: block;
	margin-left:30%;
	width:45px;
	height:45px;
	background-color: #666666;
	border:2px solid #A9A9A9;
}
.center-right-bottom{
	line-height: 1.9em;
	margin-top:10px;
    border-top: 2px solid #E4DED6;
}
.center-right-bottom>span:nth-child(1){
	color:#FF8700;
	font-weight: bold;
	font-size:1.3em;
}
.clock{
	padding:2px 5px 2px 5px;
	background-color: #4B4B4B;
	color:white;
	border-radius:5px;
}
.center2-left{
	line-height:2em;
	padding-top:10px;
	border-right:2px solid #E4DED6;
}
.center2-left>div{
	float:left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.center2-left>div>span:nth-child(1){
	margin-top:10px;
	color:#FF6C47;
	font-weight: bold;
	font-size:1.3em;
}
.center2-left>div>span:nth-child(2){
	color:#949494;
	font-size:1.1em;
}
.center2-left>span{
	float:right;
	width:50px;
	height:50px;
	background-color: #666666;
	border:2px solid #A9A9A9;
}
.center2-right{
	line-height:2em;
	padding-top:10px;
}
.center2-right>div{
	float:left;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.center2-right>div>span:nth-child(1){
	margin-top:10px;
	color:#FF9D00;
	font-weight: bold;
	font-size:1.3em;
}
.center2-right>div>span:nth-child(2){
	color:#949494;
	font-size:1.1em;
}
.center2-right>span{
	float:right;
	width:50px;
	height:50px;
	background-color: #666666;
	border:2px solid #A9A9A9;
}
.list-top{
	font-size:1.4em;
	padding-top:10px;
	padding-bottom:10px;
}
.list>hr{
	border-bottom:2px solid #E4DED6;
	border-top:0px;
	margin:0px;
}
.list-one,.fo-two{
	padding-top:10px;
	padding-bottom:10px;
}
.list-one-lt>span:nth-child(1){
	display: inline-block;
	width:90px;
	height:90px;
	background-color: #666666;
	border:2px solid #A9A9A9;
	overflow:hidden;
}
.list-one-lt>span>div{
	background-color:#00C2AF;
	transform:rotate(-45deg);
	color:white;
	font-size:0.4em;
	width:70px;
	text-align:center;
	padding:1px;
	margin-top:7px;
	margin-left:-20px;
}
.list-one-md>span:nth-child(1){
	color:#404040;
	display: block;
	font-size:1.3em;
}
.list-one-md>span:nth-child(2){
	color:#949494;
	display: block;
	font-size:1.1em;
}
.list-one-md>span:nth-child(3){
	display: block;
	float:left;
	margin-top:10px;
	color:#00C2AF;
	font-size: 1.5em;
	font-weight: bold;
}
.list-one-md>span:nth-child(4){
	float:left;
	margin-top:10px;
	margin-left:10px;
	padding:2px 2px 2px 2px;
	border:2px solid #FF9B04;
	border-radius: 5px;
	color:#FF9B04;
}
.list-one-md>span:nth-child(5){
	float:right;
	margin-top:20px;
	color:#676767;
}
.list-two-md>span:nth-child(1){
	color:#404040;
	display: block;
	font-size:1.3em;
}
.flist-two-md>span:nth-child(2){
	color:#949494;
	display: block;
	font-size:1.1em;
}
.list-two-md>span:nth-child(3){
	display: block;
	float:left;
	margin-top:10px;
	color:#00C2AF;
	font-size: 1.5em;
	font-weight: bold;
}
.list-two-md>span:nth-child(4){
	float:left;
	margin-top:20px;
	margin-left:10px;
	font-size:0.9em;
}
.list-two-md>span:nth-child(5){
	float:right;
	margin-top:20px;
	color:#676767;
}
.list-two-lt>span{
	display: block;
	width:90px;
	height:90px;
	background-color: #666666;
	border:2px solid #A9A9A9;
}
.list-two-md,.list-one-md{
	padding-left:0px;
}
.buttom{
	background-color:#8FC6EA;
	padding-top:15px;
	padding-bottom:15px;
   
}
.buttom>span:nth-child(1){
	color:#00B3D1;
	font-size:1.3em;
	font-weight:bold;
}
.next{
    color: #00B3D1;
    float: right;
}